.reviews {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0.4rem 2.8rem rgba(0, 0, 0, 0.075);
  margin-bottom: 1rem;
  border-radius: 1rem;
  max-width: 70%;
  padding: 2rem 1rem 2rem 1rem;
  gap: 1rem;
}
.right {
  margin-left: auto;
  margin-right: 0;
}
.reviews-val {
  display: flex;
}
.reviews-val .thumbs {
  color: #7c8191;
}
.reviews-val .thumbs ion-icon:hover,
.reviews-val .thumbs ion-icon:active {
  color: #ff7d31;
  cursor: pointer;
  transition: all 0.3s;
}

.reviews-val .delete ion-icon {
  color: #7c8191;
}

.reviews-val .delete ion-icon:hover,
.reviews-val .delete ion-icon:active {
  color: #ff7d31;
  transition: all 0.3s;
  cursor: pointer;
}

.reviews-val button {
  border: none;
  background: none;
  color: #3e4249;
  font-size: 1.3rem;
  min-width: 2rem;
}

.review-text {
  margin-left: 1rem;
}
.review-btn{
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment {
  color: #7c8191;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  color: #ff7d31;
  transition: all 0.3s;
  cursor: pointer;
}
