.table-container {
  display: flex;
}

.table {
  width: 150px;
  height: 150px;
  background-color: lightgreen;
  margin-left: 1rem;
}

.unavailable {
  background-color: lightcoral;
  width: 150px;
  height: 150px;
  margin-left: 1rem;
}

.box {
  border: 1px solid red;
}
