.table-icon-container {
  display: flex;
  align-items: center;
  border: 1px solid red;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  height: 80px;
  width: 70px;
}

.table-container-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.table-container-4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.table-container-6 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.table-container-8 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.chair-1,
.chair-7 {
  transform: rotate(-90deg);
}
.chair-2,
.chair-8 {
  transform: rotate(90deg);
}
.chair-3,
.chair-5 {
  transform: rotate(0);
}
.chair-4,
.chair-6 {
  transform: rotate(180deg);
}

.table-container-2 .chair-2 {
  order: 3;
}
.table-container-4 .chair-1,
.table-container-6 .chair-1,
.table-container-8 .chair-1 {
  grid-row: 2;
}
.table-container-4 .chair-2,
.table-container-6 .chair-2,
.table-container-8 .chair-2 {
  grid-row: 2;
  grid-column: 3;
}
.table-container-4 .chair-3,
.table-container-6 .chair-3,
.table-container-8 .chair-3 {
  grid-row: 1;
  grid-column: 2;
}
.table-container-4 .chair-4,
.table-container-6 .chair-4 {
  grid-column: 2;
  grid-row: 3;
}
.table-container-4 .img-table-1,
.table-container-6 .img-table-1,
.table-container-8 .img-table-1 {
  grid-row: 2;
}
.table-container-6 .img-table-2,
.table-container-8 .img-table-2 {
  grid-row: 2;
  grid-column: 3;
}
.table-container-6 .chair-2,
.table-container-8 .chair-2 {
  grid-column: 4;
}
.table-container-6 .chair-5,
.table-container-8 .chair-5 {
  grid-column: 3;
}
.table-container-6 .chair-6 {
  grid-column: 3;
  grid-row: 3;
}

.table-container-8 .img-table-3 {
  grid-column: 2;
  grid-row: 3;
}
.table-container-8 .img-table-4 {
  grid-column: 3;
  grid-row: 3;
}
.table-container-8 .chair-4 {
  grid-column: 2;
  grid-row: 4;
}
.table-container-8 .chair-6 {
  grid-column: 3;
  grid-row: 4;
}
.table-container-8 .chair-7 {
  grid-row: 3;
}
.table-container-8 .chair-8 {
  grid-row: 3;
}
