/*==========
Form
============ */

.form-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-direction: column; */
  /* height: 50px; */
  padding: 1rem;
  /* justify-content: space-between; */
}

.form-container .input-date {
  border-style: inherit;
  width: 150px;
  height: 40px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 5px;
}

.container {
  /* border: 2px solid var(--light-main-color); */
  border-radius: 5px;
  width: 150px;
}
