/*==========
Form
============ */

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* flex-direction: column; */
  /* height: 50px; */
  padding: 1rem;
  /* justify-content: space-between; */
  /* border: 1px solid red; */
  /* box-shadow: 0 0 0 5px; */
}

.form-container .input-date {
  border-style: inherit;
  width: 150px;
  height: 40px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 5px;
}
/* 
.container {
  border: 2px solid var(--light-main-color);
  border-radius: 5px;
  width: 150px;
} */

@media (min-width: 700px) {
  .form-container {
    flex-direction: row;
  }
}
