.reservation-container {
  /* background-color: var(--bg-color); */
  /* background-color: #7c8191; */
  /* background-color: #141414; */
  /* background-color: #055358; */
  /* background-color: #b64003; */
  /* background-color: #048481; */
  /* background-color: #002a38; */
  /* background-color: #fecb24; */
  /* background-color: #575151; */
  /* background-color: #2b2b2b; */
  /* background-color: #ff8c00; */
  /* background-color: #f6f4f3; */
  /* background-color: #797983; */
  /* background-color: #7e33ff; */
  background-color: #edf0f3;

  padding-bottom: 1rem;
  position: relative;
}

/*==========
Form
============ */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-container {
  display: flex;
  /* flex-direction: column; */
  padding: 1rem;
  /* justify-content: space-between; */
}
.container .react-select__control {
  background-color: black;
}
.react-select__k5CfK__control {
  background-color: black;
}
.form-container input {
  /* border: 2px solid var(--light-main-color); */
  /* border-radius: 5px; */
  /* width: 100%; */

  width: 150px;
}

.container {
  /* border: 2px solid var(--light-main-color); */
  border-radius: 5px;
  /* width: 100%; */
  margin-top: 0.5rem;
  width: 150px;
  /* margin-left: 0.4rem; */
}

/*==========
Table 
============ */

.entrance,
.restrooms,
.window {
  display: none;
}

.table-container {
  list-style: none;
  display: flex;
  border: 2px solid #ffa837;
  background-color: #edf0f3;
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  /* header height(5rem) + bottom nav height (5rem) + table form height(2rem) = 12rem */
  /* height: calc(100vh - 12rem); */

  /* border: 2px solid #ffa733; */

  /* border-radius: 10px; */
  /* background-color: #141414; */
  /* background-color: var(--bg-color); */
  /* background-color: #feb062; */
}

.status-container h3 {
  margin-top: 0.5rem;
}
/* #3e4249 #edf0f3  */
.table {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 120px;
  min-height: 80px;
  width: 80px;
  height: auto;
  /* justify-self: center; */
  /* align-self: center; */

  background-color: white;
  /* background-color: hsl(0, 9%, 94%); */
  border: 1px solid hsl(156, 61%, 57%);
  box-shadow: 0 0 0.5em 0 hsl(156, 61%, 67%);
  border-radius: 10px;
  color: black;
}

.table h3 {
  font-weight: normal;
  font-size: 1rem;
}

.table ion-icon {
  font-size: 0.9rem;
}

.table.unavailable {
  opacity: 0.4;
  border-color: hsl(12, 64%, 59%);
  box-shadow: 0 0 0.5em 0 hsl(12, 68%, 51%);
}

.bookingBtn,
.checkBtn {
  border-style: none;
  padding: 0.2rem 0.5rem;
  color: var(--main-color);
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
  border: 1px solid var(--main-color);
  /* background-color: #ffa837; */
  font-size: 0.8rem;
}

.bookingBtn:hover,
.bookingBtn:focus,
.bookingBtn:active {
  background-color: var(--light-main-color);
  border: 1px solid var(--light-main-color);
  color: white;
  transition: 0.7s;
}

.table-1 {
  grid-area: a;
}
.table-2 {
  grid-area: b;
}
.table-3 {
  grid-area: c;
}
.table-4 {
  grid-area: d;
}
.table-5 {
  grid-area: e;
}
.table-6 {
  grid-area: f;
}
.table-7 {
  grid-area: g;
}
.table-8 {
  grid-area: h;
}
.table-9 {
  grid-area: i;
}
.table-10 {
  grid-area: j;
}
.table-11 {
  grid-area: k;
}
.table-12 {
  grid-area: l;
}
.table-13 {
  grid-area: m;
}
.table-14 {
  grid-area: n;
}
.table-15 {
  grid-area: o;
}

@media (min-width: 550px) {
  /* ======
  form
  ========= */
  .container {
    margin-left: 0.5rem;
  }
  /* ======
  table
  ========= */
  .table-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      ". x x x x ."
      ". a b c d ."
      "i h . l . z"
      "k . f . . ."
      "m e . g . ."
      "j n n o o y";
    gap: 0.5rem;
  }
  .entrance,
  .restrooms,
  .window {
    display: block;
  }

  .entrance,
  .restrooms {
    grid-area: y;
    position: relative;
    padding: 0;
    /* fix it */
    max-width: 120px;
    min-height: 80px;
    width: 80px;

    overflow: hidden;
  }

  .restrooms {
    grid-area: z;
  }

  .entrance p,
  .restrooms p {
    transform: rotate(90deg);
    position: absolute;
    right: -10px;
    top: 30px;
    border-top: 2px solid #ffa837;
    color: #ffa837;
    padding-top: 0.2rem;
    font-size: 0.9rem;
  }

  .window {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: x;
    border: 2px solid #ffa837;
    color: #ffa837;
    width: 100%;
    height: 40px;
  }
}
