/* need to be changed */
/*
#FF7D31
#FFA837
#3E4249
#EDF0F3
*/

.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 5rem;
  list-style: none;
  background-color: #141414;
  padding: 0 1rem;
  z-index: 100;
}

.link-container {
  /* width: 100%; */
  display: flex;
  justify-content: space-around;
  border: 1px solid red;

  /* align-items: center; */
}
.link-container a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #7c8191;
  width: 4rem;
}
.link-container ion-icon {
  font-size: 1.6rem;
  margin-bottom: 0.3rem;
}

.link-container span {
  display: inline-block;
  text-align: center;
}

.link-container li a:hover,
.link-container li a:focus,
.link-container li a.active {
  color: #ff7d31;
}
