/* need to be changed */

nav ul {
  /* width: 100%; */
  list-style: none;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}

ul li {
  /* width: 100px; */
  /* margin-left: 1rem; */
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 1rem;
}
