.input-container input {
  /* border-radius: 5px; */
  /* border-style: none; */
  border: 1px solid orange;
  padding: 0.5rem 1rem;
  width: 100%;
}
.input-container.invalid input {
  border-color: red;
  background: #fbdada;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* @media (min-width: 1200px) {
  .input-container input {
    width: 70%;
  }
} */
