.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 20vh;
  left: 10%;
  width: 80%;
  height: 40%;
  z-index: 100;
  overflow: hidden;
  background-color: whitesmoke;
  border-radius: 15px;
  border: solid 2px hsl(22, 50%, 60%);;
  /* padding: 4rem; */
}


.modal .info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 1rem;
  margin: 0 auto;
  height: 70%;
  /* border: 1px solid red; */
}

.modal .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
}
.modal .btn-container button {
  border-style: none;
  padding: 0.5rem 1rem;
  background-color: #7c8191;
  border-radius: 5px;
}

.modal .btn-container button:hover {
  cursor: pointer;
  background-color: #ff7d31;
  color: white;
  transition: all 0.3s;
}